/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8bbd0;
    padding: 10px 20px;
}

/* Estilo para el título */
h1 {
    color: #880e4f;
    font-size: 24px;
}

/* Barra de navegación */
.navbar {
    display: flex; /* Flexbox para disposición horizontal */
    justify-content: flex-start; /* Alineamos los elementos a la izquierda */
    align-items: center;
    background-color: #880e4f;
    padding: 10px 0;
    margin-top: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    margin-right: 20px; /* Espacio entre los elementos */
    transition: background-color 0.3s ease;
}

/* Cambiar color del enlace cuando el mouse pase */
.navbar a:hover {
    background-color: #d81b60;
    border-radius: 5px;
}

/* Icono del carrito */
.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon img {
    width: 30px; /* Tamaño más pequeño para el carrito */
}

/* Sección de productos */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    border-radius: 8px;
    border: 5px solid #f8bbd0;
}

.product button {
    background-color: #880e4f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product button:hover {
    background-color: #d81b60;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(216, 27, 96, 0.4);
}

/* Estilo del formulario */
.order-form {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.order-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.order-form form {
    display: flex;
    flex-direction: column;
}

.order-form label {
    margin: 10px 0 5px;
}

.order-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.order-form button {
    background-color: #880e4f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.order-form button:hover {
    background-color: #ad1457;
}



